    
    <div id="container">

            <div id="editcard">
                    <mat-card class="edit-card">
                            <mat-card-header>
                            <mat-card-title>Titre: <input type="text" name="title" #inputTitle  [(ngModel)]="cardtitle"/> </mat-card-title>
                            </mat-card-header>
                            <!-- <div class="img-edit-card">
                            <button mat-button class="button" #addImg >Ajouter une photo</button>
                            </div> -->
                            <mat-card-content>
                              <p>Description: <input type="text" name="content" #inputContent [(ngModel)]="cardcontent" /></p>
                              <cat-select (selectedValueCat)="myValueCat($event)" ></cat-select>
                              <!-- <p>Img: <input type="text" name="img" #inputContent [(ngModel)]="img" /></p> -->
                            </mat-card-content>
                            
                            <img-select (selectedValueImg)="myValueImg($event)" ></img-select>
                            <!-- <p>Couleur du fond</p>
                            <app-color id="custom" (event)="color=$event" ></app-color> -->
                            <mat-card-actions>
                              <button mat-button (click)="postCard()" >SAUVEGARDER</button>
                              <button mat-button>ANNULER</button> <!-- init() les imputs -->
                            </mat-card-actions>
                    </mat-card>

                    
            </div>


           <div id="viewcard">
    
            
                    <mat-card class="create-card"  [appHighlight]="'yellow'" >
                    <mat-card-header>
                      <mat-card-title [appHighlight]="'green'"> {{cardtitle | uppercase }} </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                       <p>{{cardcontent}}  </p> 
                       <p>{{categoryId}}  </p> 
                    </mat-card-content>
                    <img mat-card-image src="{{url + cardimg}}">
                    
                  </mat-card>
            </div>
           
        
        
            
        
    </div>
    
    
  