<label [appHighlight]="'red'" > Search : </label><input type="text" [(ngModel)]="search" /> 
<div id="container">
    
    <div *ngFor="let note of notes | filter:search; let i=index" class="note" (click)="selected_note=note" >

        <!-- on apelle le component NoteComponent -->   
        <app-note [color]="color" [thenote]="note" [index]="i" (event)="remove($event)" ></app-note>

    </div>

    <div id="add_button" (click)="displayForm = !displayForm" > + </div>

    <div id="form" [class.display]="displayForm" >
        <label>
            <span>Titre :</span>
            <!-- On créer une variable de template #inputTitle 
                qui contient ce même élément, on s'en resservira plus bas -->
            <input type="text" name="title" #inputTitle />
        </label>
        <label>
            <span>Contenu :</span>
            <input type="text" name="content" #inputContent />
        </label>
        <input type="text" id="datepicker" #datepicker />
        <button (click)="addNote( 0, inputTitle.value, inputContent.value, datepicker.value )" > Ajouter </button>
    </div>

    <div id="edit" *ngIf="selected_note">
        <label>
            <span>Titre :</span>
            <input type="text" name="title" [(ngModel)]="selected_note.title" />
        </label>
        <label>
            <span>Contenu :</span>
            <input type="text" name="content" [(ngModel)]="selected_note.content" />
        </label>
    </div>

    <app-color id="custom" (event)="color=$event" ></app-color>

</div>
