<!-- <span (click)="parentRemove()">X</span>
<h4 [appHighlight]="color" > {{ thenote.title | uppercase }} </h4>
<p> {{ thenote.content | lowercase }} </p>
<h6 [appHighlight]="color" ><i> {{ thenote.date | date:'dd-MM-yyyy' }} </i></h6>
<p> {{ index | nieme:'note' }} </p>
<p> {{ thenote | resume }} </p>
<a routerLink="/note/{{thenote.id}}">voir detail</a> -->



        
        <mat-card class="example-card">
          <mat-card-header>
            
            <mat-card-title>{{ thevcard.cardtitle | uppercase }}</mat-card-title>
            
          </mat-card-header>
          <img mat-card-image src="http://localhost/EcoleDuNum/Angular/TP/vcard/src/assets/img/{{ thevcard.cardimg | lowercase }}" alt="{{ thevcard.cardtitle | lowercase }}">
          <mat-card-content>
              <p>{{ thevcard.categoryId }}</p>
            <p>
              {{ thevcard.cardcontent | lowercase }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/vcard/{{thevcard.id}}"><button mat-button>MODIFIER</button></a>
            <button mat-button>SUPPRIMER</button>
          </mat-card-actions>
        </mat-card>

    