
<div id="container">
<cat-select></cat-select>

<search-form (searchChange)="search=$event"></search-form>

<!-- <div id="search"><label [appHighlight]="'red'" > Recherche : </label><input type="text" [(ngModel)]="search" /> </div> -->

<div class="grid-cards" *ngFor="let card of vcards | filter:search;">

        
        <mat-grid-list cols="1" rowHeight="650">

                <mat-grid-tile>
                    <div class="grid-center"><h2>{{card.title}}</h2>
                    <app-vcard [thevcard]="card"></app-vcard>
                    </div>
                    
                </mat-grid-tile>
              
        </mat-grid-list>
</div>

</div>



<!-- <div id="container"> -->

    <!-- <div *ngFor="let card of vcards;" >

         
        <app-vcard  [thevcard]="card"  ></app-vcard>

    </div> -->

    <!-- <div id="add_button" (click)="displayForm = !displayForm" > + </div> -->

    <!-- <div id="form" [class.display]="displayForm" >
        <label>
            <span>Titre :</span>
          
            <input type="text" name="title" #inputTitle />
        </label>
        <label>
            <span>Contenu :</span>
            <input type="text" name="content" #inputContent />
        </label>
        <input type="text" id="datepicker" #datepicker />
        <button (click)="addNote( 0, inputTitle.value, inputContent.value, datepicker.value )" > Ajouter </button>
    </div>

    <div id="edit" *ngIf="selected_note">
        <label>
            <span>Titre :</span>
            <input type="text" name="title" [(ngModel)]="selected_note.title" />
        </label>
        <label>
            <span>Contenu :</span>
            <input type="text" name="content" [(ngModel)]="selected_note.content" />
        </label>
    </div>

    <app-color id="custom" (event)="color=$event" ></app-color> -->

<!-- </div> -->

