
.grid-cards{
  width: 100%;
}
mat-grid-tile {
    background: lightblue;
    height:10%;
  }

.grid-center {
  
  justify-content: center;
  
}

.grid-center h2 {
  width: 100%;
display: flex;
  align-content: center;
  justify-content: center;
  
}